.left-menu
  .menu-toggle.js-menu-toggle
    span
    span
    span
      
  .left-menu_inner.js-menu  
    .close-menu.js-close-menu
      span
      span
    nav  
      a(href="#" _target="blank") Требования к оформлению статей
      a(href="#" _target="blank") Порядок реценизрования
      a(href="#" _target="blank") Примеры печатных материалов
      a(href="#" _target="blank") Стоимость и оплата
      a(href="#" _target="blank") Редакционный совет
      a(href="#" _target="blank") Ретракция статей
      a(href="#" _target="blank") Вопрос - ответ
      a(href="#" _target="blank") Этический кодекс
