#step_3.js-step(data-step='3') 
  p.title Данные вашей заявки:
  table 
    tr
      td Научный журнал:
      td «Сибирский экономический журнал» №1 (1)
    tr
      td Рубрика журнала:
      td 08. Политическая регионалистика. Этнополитика
    tr
      td Название статьи:
      td Международные стандарты аудита в странах Европы, США, Китая и России
  p.title Подтверждающие документы:
  p.subtitle Электронная справка
    table 
      tr
        td Документ в формате .PDF, который подтверждает, что
          | ваша статья принята  к публикации издательством «СибАК»
        td Скачать справку
        
  p.subtitle Библиографическое описание
    table 
      tr
        td Выходные данные статьи, используются в других
          | публикациях как ссылка на работу в списке литературы
        td Показать библиографическое описание
  
  +alert('info')
    p.font_sb Не забудьте подтвердить подписку на рассылку по e-mail, чтобы в числе первых
              | узнавать о скидках, акциях, новостях и новых продуктах издательства

  p.total Итоговая сумма: 1 350 рублей
  
  .clearfix
    .form-btn 
      +button(
        'button',
        'Далее',
        'disabled next',
        '3'
      )
      span.btn-desc Для продолжения необходимо заполнить все поля
