.top-bar
  .container
    .top-bar_inner
      .contacts
        a.mail(href="mailto:vestnik@obrazovanie.com") E-mail: vestnik@obrazovanie.com
        a.phone(href="tel:+78000000030") Телефон: +7 (800) 000 00 30
      
      .menu
        .menu-toggle.js-menu-toggle
          span
          span
          span
            
        nav.js-menu
          a(href="") Издательство
          a(href="") Наши авторы
          a(href="") Архив выпусков
          a(href="") Контакты
        
      
