extends ../layouts/main

block title 
  | Главная страница
  

block content

  .content 
    span.back-link Вернуться к условиям публикации
    h2.title Заявка на публикацию статьи
      span «Сибирский экономический журнал», №1 (1)
      span.date Дата издания: 04 июня 2018 г.
    include ../elements/alert 
    //- +alert('danger')
    //-   p.font_sb Информационное сообщение с негативным смыслом
    //-   p Например, информация о том, что статья не прошла рецензирование
    //- +alert('warning')
    //-   p.font_sb Информационное сообщение предупредительного характера
    //-   p Когда человек близок к совершению ошибки или какому либо не желательному для него событию
    //- +alert('success')
    //-   p.font_sb Информационное сообщение позитивного характера
    //-   p Уведомление об успешно проведенной операции на сайте
    //-   p Вторая строка, для примера того, как может быть реализован перенос в нотификациях
    
    include ../elements/steps
    +steps(
      'Основная информация', 
      'Услуги и доставка', 
      'Рецензирование'
    )
      
      
    .mt-5
    form.form.js-form-validate 
      include ../elements/forms
      include ../modules/step_1
      include ../modules/step_2
      include ../modules/step_3
          
  block scripts
    
