.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: $secondary;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
